{{ partial "header.html" . }}
<body>

    <div id="top"> 
        {{ partial "nav.html" . }}
        <div class="hero"></div>
        {{ partial "specialister.html" . }}
        {{ partial "industrial.html" . }}
        {{ partial "data-analyse.html" . }}
        <div class="img-gap1"></div>
        {{ partial "digital.html" . }}
        <div class="img-gap2"></div>
        {{ partial "atfersendring.html" . }}
        {{ partial "kobler.html" . }}
        {{ partial "kurs.html" . }}
        {{ partial "Ansatte.html" . }}
        {{ partial "noen.html" . }}
        {{ partial "vare.html" . }}
        {{ partial "contact.html" . }}       
        {{ partial "footer.html" . }}

    </div>

{{ partial "script.html" . }}

</body>
